{% extends "app_sandbox/sandbox_base.html" %}
{% block sandbox_block %}

<h1>ADD STUFF HERE </h1>
<ul id="stuff"></ul>

<script>
let d = "shrekoning is here"
console.log(d)
var obj = document.getElementById("stuff");
fetch('http://127.0.0.1:8000/api/NoteGroups/')
.then(response => response.json())
.then(data => obj=data)
.then(()=>console.log(obj))

function createNode(element) {
    return document.createElement(element);
}

function append(parent, el) {
  return parent.appendChild(el);
}

const ul = document.getElementById('stuff');
const url = 'http://127.0.0.1:8000/api/NoteGroups/';

fetch(url)
.then((resp) => resp.json())
.then(function(data) {
  let authors = data;
  console.log("authors are")
  console.log(authors);
  return authors.map(function(author) {
    let li = createNode('slug');
    let img = createNode('img');
    let span = createNode('span');
    span.innerHTML = `${author.slug} ${author.author}`;
    append(li, img);
    append(li, span);
    append(ul, li);
  })
})
.catch(function(error) {
  console.log(error);
});



</script>

{% endblock %}
