{% extends "app_sandbox/sandbox_base.html" %}
{% block sandbox_block %}

<h1>ADD STUFF HERE </h1>
<ul id="stuff"></ul>

<script>

function createNode(element) {
    return document.createElement(element);
}

function append(parent, el) {
  return parent.appendChild(el);
}

const ul = document.getElementById('stuff');
const url = 'http://127.0.0.1:8000/api/NoteGroups/';

fetch(url)
.then((resp) => resp.json())
.then(function(data) {
  let groups = data;
  console.log("groups are")
  console.log(groups);
  return groups.map(function(group) {
    let li = createNode('li');
    let img = createNode('h1');
    let span = createNode('span');
    span.innerHTML = `${group.author} / ${group.group_name}`;
    append(li, img);
    append(li, span);
    append(ul, li);
  })
})
.catch(function(error) {
  console.log(error);
});



</script>

{% endblock %}
